/* Minimal CSS Reset */

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

/* Fonts */

.fondamento-regular {
  font-family: "Fondamento", serif;
  font-weight: 400;
  font-style: normal;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Texture */

.paper {
  background-color: #fffae5;
  background-image: url(cardboard.png);
}

/* Layout */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

header {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 8rem 1fr 8rem;
  padding: 0 1rem;
  column-gap: 1rem;
}

.social {
  justify-self: end;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.social > a {
  display: block;
  width: 2rem;
  aspect-ratio: 1;
  height: 2rem;
}

a {
  color: inherit;
}

.swallow {
  transform: translate(-2rem, -3rem);
  transition: transform 200ms ease-in-out;
}

.logo {
  height: inherit;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
  width: 12rem;
}

.brand {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;

  & .brand-content {
    font-size: 1.5rem;
    display: flex;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}

.hoist {
  position: absolute;
  inset: 0;
}

.header-content {
  padding: 1rem;
  left: 250px;
  right: 0;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;

  & .header-content-logo {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    justify-content: center;
    flex: 1;
  }

  & span {
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 0.8);
  }
}

.clipboard {
  width: 100%;
  max-width: 400px;
  position: relative;
  transform: rotate(5deg);
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  transition: transform 200ms ease-in-out;
}

.clipboard-content {
  position: absolute;
  inset: 2rem;
  left: 1.9rem;
  right: 2.4rem;
  top: 8rem;
  bottom: 3rem;
  padding: 1rem;
}

h2 {
  text-align: center;
  margin: 0;
  font-family: Handlee;
  font-size: 1.2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em;
}

table th,
table td {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}

table th {
  text-align: center;
  font-weight: bold;
}

table td {
  text-align: center;
  color: #555;
}

.header-social a {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 2rem;
}

.header-social {
  display: flex;
}

.note {
  max-width: 300px;
  position: relative;
  transform: rotate(-7deg);
  transition: transform 200ms ease-in-out;
}

.note-content {
  position: absolute;
  inset: 5%;
  top: 35%;
  overflow: hidden;
  border-radius: 2%;
  border-bottom-right-radius: 8%;
}

.note-content iframe {
  width: 100%;
  height: 100%;
}

.no-int {
  pointer-events: none;
}

footer {
  text-align: center;
  padding: 1rem 2rem;
  position: sticky;
  bottom: 0;
}

/* NEW LAYOUT BELOW */

.grid {
  display: grid;
  grid-template-columns: 1fr 25rem 25rem 1fr;
  gap: 2rem;
}

.banner {
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.clipboard-container {
  grid-row: 1;
  grid-column: 3;
}

.note-container {
  grid-row: 1;
  grid-column: 2;
  padding-top: 4rem;
}

.zapper {
  max-width: 200px;
  justify-self: end;
  transform: rotate(-2deg);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

@media (max-width: 900px) {
  header {
    /* grid-template-columns: 10rem 1fr auto; */

    & .brand .brand-content {
      font-size: 1.1rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: unset;
  }

  .banner,
  .clipboard-container,
  .note-container {
    grid-column: 1;
  }

  .clipboard-container {
    grid-row: 1;

    & .clipboard {
      margin: auto;
    }
  }

  .note-container {
    grid-row: 2;
    padding: 0;
    align-self: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;

    & .note {
      order: 1;
      transform: rotate(-2deg);
      max-width: 700px;
    }
  }

  .zapper {
    order: 0;
    max-width: unset;
    transform: unset;
  }
}

@media (max-width: 500px) {
  header {
    grid-template-columns: 4rem 1fr auto;
    gap: 0.5rem;
  }

  .logo {
    width: 10rem;
  }

  .swallow {
    transform: translate(-4rem, -3rem);
  }

  .zapper,
  .note-container .note,
  .clipboard {
    transform: unset;
  }

  .clipboard-container {
    margin-top: 20%;
  }
}
